[submodule "ros2_ws/src/ros2_ws/src/Universal_Robots_ROS2_Gazebo_Simulation"]
	path = ros2_ws/src/ros2_ws/src/Universal_Robots_ROS2_Gazebo_Simulation
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Gazebo_Simulation.git
	branch = humble
[submodule "ros2_ws/src/Universal_Robots_ROS2_Gazebo_Simulation"]
	path = ros2_ws/src/Universal_Robots_ROS2_Gazebo_Simulation
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Gazebo_Simulation.git
	branch = humble
